@import '../../css/theme.scss';

.root {
  width: 100vw;
  height: 100vh;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}