.formControl {
  width: 100%;
  margin-bottom: 15px;
}

.button {}

.input {
  margin-bottom: 15px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
