
@import '../../css/theme.scss';

.progress {
  width: 100%;
  z-index: 9999999;
  position: absolute;
  height: 5px;

  .progressInner {
    background-image: $progress-background-image;
    height: 100%;
    transition: all .2s linear;
  }
}
