
.container {
  margin: 2em auto 1em auto;
  padding: 2em;
  max-width: 600px;
  background-color: #fff;
}
.formControl {
  width: 100%;
}
.input {
  height: 100%;
  padding: 2px 8px;
}
.flex {
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
}
.button {
  margin: 10px;
}