@import '../../css/theme.scss';

.container {
  margin: 2em auto 1em auto;
  padding: 40px;
  max-width: 960px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: $shadow-1;
}

.input {
  margin-bottom: 20px;
}

.flex {
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
  justify-content: flex-end;
}

.button {
  margin: 10px;
}