.button {
  margin: 10px;
}
.leftIcon {
  margin-right: 10px;
}
.rightIcon {
  margin-left: 10px;
}
.iconSmall {
  font-size: 20px;
}
.toolbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}