@import '../../css/theme.scss';

.wrapper {
  margin: 1em 0;
  padding: 30px;
  box-shadow: $shadow-1;
  border-radius: 5px;
  background-color: $card-background;
}

.table {
  border: 1px solid $border-color;
  font-family: $font-family;
}

.toolbar {
  display: flex;
  // margin-left: -24px;
  // margin-right: -24px;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

:global(.ant-table-thead > tr > th) {
  background: $card-background;
  border-bottom: 1px solid $border-color;
}

:global(.ant-table-tbody > tr > td) {
  border-bottom: 1px solid $border-color;
}