@import '../../css/theme.scss';

.container {
  margin: 2em auto 1em auto;
  padding: 40px;
  max-width: 960px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: $shadow-1;
}

.code {
  background-image: linear-gradient(160deg, #121212 12.5%, #323232 85%);
  box-shadow: $shadow-1;
  border-radius: 5px;
  margin: 2em auto 1em auto;
  padding: 40px;
  max-width: 960px;
}