
:global(.draft-table) {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;

  :global(.draft-table-placeholder) {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #fafafa;
    border-radius: 4px;
    width: 100%;
    height: 100px;
    color: #8c8c8c;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  :global(.public-DraftStyleDefault-block) {
    padding-bottom: 0;
  }

  :global(.draft-row) {
    display: flex;
    flex-direction: row;
    width: 100%;
    &:hover {
      background-color: #e6f7ff;
  
      & > div {
        
      }
    }
    & > div {
      flex: 1;
      padding: 4px;
      border-right: 1px solid #e8e8e8;
      border-bottom: 1px solid #e8e8e8;
    }
  }
  

  :global(.draft-row::last-child) {
    margin-bottom: 10px;
  }
}

:global(.monograph-editor) {
  font-size: 16px;
  color: #111;

  ul li.public-DraftStyleDefault-depth0 {
    margin-left: 18px;
  }
    
  ul li.public-DraftStyleDefault-depth1 {
    margin-left: 36px;
  }

  h2 {
    margin: 0;
  }

  table {
    padding-bottom: 1em;
    margin-bottom: 0;
  }

  pre {
    margin-bottom: 1em;
    background-color: #f4f9fd;
    padding: 8px;
  }

  blockquote {
    padding: 16px;
    background-color: #fafafa;
    border-left: 1px solid #f5f5f5;
    margin-left: 20px;
  }

  pre, figure, img {
    margin: 0;
  }
  
  img {
    max-width: 100%;
    margin: 10px auto;
  }

  code > .public-DraftStyleDefault-block {
    padding-bottom: 0;
  }

  table {
    width: 100%;
    border-spacing: 0;
    table-layout: fixed;
  }
  
  table td,
  table th,
  table tr {
    padding: 0;
  }
  
  table td {
    color: #595959;
    border-bottom: 1px solid #f4f9fd;
  }
  
  table thead {
    background-color: #2f54eb;
    color: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  
  table th {
    text-align: left;
  }
  
  table th > div,
  table td > div {
    padding: 4px 6px;
  }
  
  table tr td:first-child {
   border-left: 1px solid #f4f9fd;
  }
  
  table td:last-child {
    border-right: 1px solid #f4f9fd;
  }
  
  table tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
  }
  
  table tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
  }
  
  table tr:last-child th:first-child {
    border-top-left-radius: 5px;
  }
  
  table tr:last-child th:last-child {
    border-top-right-radius: 5px;
  }
  
  table td:focus-within {
    background-color: #f4f9fd;
  }
}

:global(.public-DraftStyleDefault-block) {
  margin: 0;
  margin-bottom: 10px;
}

:global(.thumbnail) {
  max-width: 150px;
  border: 1px dashed #ddd;
}

:global(.thumbnail:hover) {
  border: 1px dashed #999;
}

:global(.thumbnail-wrapper) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em;
}

@media only screen and (max-width: 767px) {
  :global(.monograph-editor) {
    margin: 0 3%;
  }
}

:global(.select-container) {
  width: 100%;
}

:global(.select-dropdown) {
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  margin: 0;
  padding: 0;
  list-style: none;
  font-variant: initial;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-sizing: border-box;
  z-index: 1050;
  left: -9999px;
  top: -9999px;
  position: absolute;
  outline: none;
  font-size: 14px;

  :global(.select-menu) {
    outline: none;
    list-style: none;
    max-height: 250px;
    overflow: auto;
    margin: 0;
    padding: 0;
  }

  :global(.select-menuItem) {
    position: relative;
    display: block;
    line-height: 22px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.65);
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background 0.3s ease;

    &:hover {
      // background-color: #e6f7ff;
    }

    &:first-child {
      border-radius: 4px 4px 0 0;
    }

    &:last-child {
      border-radius: 0 0 4px 4px;
    }
  }

  :global(.select-menuItemDisabled) {
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;

    &:hover {
      color: rgba(0, 0, 0, 0.25);
      background-color: #fff;
      cursor: not-allowed;
    }
  }

  :global(.menuItemSelected),
  :global(.menuItemSelected:hover) {
    background-color: #fafafa;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.65);
  }

  :global(.menuItemActive) {
    background-color: #e6f7ff;
  }

  :global(.menuItemDivider) {
    height: 1px;
    margin: 1px 0;
    overflow: hidden;
    background-color: #e8e8e8;
    line-height: 0;
  }
}
