.monograph-editor {
  margin: 0 74px;
  min-height: calc(100vh - 200px);
  box-sizing: border-box;
  background-color: #fff;
  padding: 20px 20px 60px 20px;

  h2 {
    margin: 0;
  }

  table {
    padding-bottom: 1em;
    margin-bottom: 0;
  }

  pre {
    margin-bottom: 1em;
    background-color: #f4f9fd;
    padding: 10px;
  }

  blockquote {
    padding-top: 1em;
    background-color: #f4f9fd;
    border-left: 1px solid #d8e0ea;
    padding-left: 20px;
    margin-left: 20px;
  }

  pre, figure, img {
    margin: 0;
  }
  
  img {
    max-width: 100%;
    margin: 10px auto;
  }

  code > .public-DraftStyleDefault-block {
    padding-bottom: 0;
  }

  table {
    width: 100%;
    border-spacing: 0;
    table-layout: fixed;
  }
  
  table td,
  table th,
  table tr {
    padding: 0;
  }
  
  table td {
    color: #6d859e;
    border-bottom: 1px solid #f4f9fd;
  }
  
  table thead {
    background-color: #4ba8ff;
    color: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  
  table th {
    text-align: left;
  }
  
  table th > div,
  table td > div {
    padding: 4px 6px;
  }
  
  table tr td:first-child {
   border-left: 1px solid #f4f9fd;
  }
  
  table td:last-child {
    border-right: 1px solid #f4f9fd;
  }
  
  table tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
  }
  
  table tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
  }
  
  table tr:last-child th:first-child {
    border-top-left-radius: 5px;
  }
  
  table tr:last-child th:last-child {
    border-top-right-radius: 5px;
  }
  
  table td:focus-within {
    background-color: #f4f9fd;
  }
}

.public-DraftStyleDefault-block {
  margin: 0;
}

.public-DraftStyleDefault-block {
  padding-bottom: 1em;
  margin-bottom: 0;
}

.thumbnail {
  max-width: 150px;
  border: 1px dashed #ddd;
}

.thumbnail:hover {
  border: 1px dashed #999;
}

.thumbnail-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em;
}
