
.code-block-tooltip {
  z-index: 2 !important;
}

.codeLanguageWrapper {
  width: 100%;
}

.codeLanguageInput {
  height: 34px;
  width: 220px;
  padding: 0 12px;
  font-size: 15px;
  font-family: inherit;
  background-color: transparent;
  border: none;
  color: #444;
}

.codeLanguageInput:focus {
  outline: none;
}

.codeLanguageInput::placeholder {
  color: #888;
}

.codeLanguageInputInvalid {
  color: #e65757;
}

.monograph-editor-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 45px;
  z-index: 500;
  background-color: #4c6072;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.monograph-editor-toolbar {
  width: 100%;
  height: 40px;
  z-index: 500;
  padding: 0 74px;
  background-color: #4c6072;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.customToolbar {
  background: #fff;
  border-radius: 2px;
  z-index: 3;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  opacity: 0.7;
  transition-timing-function: linear;
}


.customToolbar:hover {
  opacity: 1;
}

.buttonWrapper {
  width: 36px;
  height: 36px;
  display: block;
}

.button,
.buttonText {
  color: #f4f9fd;
  background: #4c6072;
  font-size: 18px;
  border: 0;
  padding: 6px;
  width: 100%;
}

.button svg {
  fill: #f4f9fd;
  display: block;
}

.button:hover, .button:focus {
  color: #BAFFDB;
  outline: 0;
}

.active {
  background: #6d859e;
  color: #BAFFDB;
}

.button svg:hover {
  fill: #BAFFDB;
}

.button:disabled {
  background: #fbfbfb;
}

.button:disabled svg {
  fill: #bdc9d6;
}

.input {
  height: 34px;
  width: 220px;
  padding: 0 12px;
  font-size: 15px;
  font-family: inherit;
  background-color: transparent;
  border: none;
  color: #444;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: #888;
}

.inputInvalid {
  color: #e65757;
}

.link {
  color: #2996da;
  text-decoration: underline;
}

.unfocused iframe {
  pointer-events: none;
}

.unfocused:hover {
  cursor: default;
  border-radius: 2px;
  box-shadow: 0 0 0 3px #D2E3F7;
}

.focused {
  cursor: default;
  border-radius: 2px;
  box-shadow: 0 0 0 3px #ACCEF7;
}

.focused iframe {
  pointer-events: auto;
}

.code-block-container {
  border: 1px solid #d8e0ea;
  border-radius: 2px;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 1em;
}