.root {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  flex-basis: 50%;
}
.menu {
  box-shadow: 0 1px 1px 0 rgba(216,224,234,0.5);
}
.menuItem {
  color: #8c8c8c;
}
.menuItem:hover {
  color: #2f54eb;
  background-color: #fff;
}
@media (max-width: 767px) {
  .root {
    margin: 12px 0 0 0;
  }
}
.avatar {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}