@import '../../css/theme.scss';

.root:global(.ant-layout-header) {
  display: flex;
  background-color: $card-background;
  z-index: 2;
}

@media screen and (min-device-width: 569px) {
  .root:global(.ant-layout-header) {
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.06);
  }
}

.flex {
  flex-basis: 50%;
}


.brand {
  color: #111;
}