
.root {
  display: flex;
}

.flex {
  flex-basis: 50%;
}

.menuButton {
  margin-left: -12px;
  margin-right: 20px;
}
.spacer {
  width: 100%;
  height: 5px;
}
.toolbar {
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .toolbar {
    padding: 10px 0px;
    flex-direction: column;
  }
}

.brand {
  color: #fff;
}