
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;

  :global(.ant-col) {
    margin-bottom: 20px;
  }
}
.left {
  width: 100%;
  display: flex;
  padding: 15px;
  flex-basis: 50%;
  box-sizing: border-box;
  flex-direction: column;
}
.right {
  width: 100%;
  display: flex;
  padding: 15px;
  flex-basis: 50%;
  box-sizing: border-box;
  flex-direction: column;
}
.select {
  margin-top: 16px;
  margin-bottom: 8px;
}

