
.root {
  :global(.ant-form-item-label > label::after) {
    content: ''
  }
  :global(.ant-form-item-control) {
    line-height: unset;
  }
}

.thumbnail {
  width: 100%;
  height: 100%;
}

.selected {
  background-color: green;
}
