
.input:global(.ant-search-input) {
  box-sizing: border-box;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;

  &:focus {
    box-shadow: none;
  }
}

.button {
  &.focused {
    border: 1px solid #40a9ff;
  }
}