@import '../../css/theme.scss';

.input {
  padding: 8px;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  border: none;
}

.editing {
  border: 1px solid $icon-color-active !important;
}

.selected {
  background-color: #f0f7ff !important;
}

.tableCell {
  height: 50px;
  display: inline-flex;
  position: relative;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}
