@import '../../css/theme.scss';

.input {
  padding: 8px;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.editing {
  border: 1px solid $icon-color-active !important;
}

.selected {
  background-color: #f0f7ff !important;
}