@import './theme.scss';

*:focus {
  outline: none;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  color: #000;
  -webkit-font-smoothing: antialiased;
  font-family: $font-family;
  line-height: 1.2;
}

@keyframes fadeOut {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 2s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: both;
}
