html, body, #root {
  min-height: 100%;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #4c6072;
}

article, .content {
  min-height: calc(100vh - 150px);
  background-color: #f4f9fd;
  padding: 41px 0 40px 0;
}

@keyframes fadeOut {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 2s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: both;
}

.admin-table {
  /* display: grid; */
  /* grid-template-columns: 5% auto 5%; */
  /* grid-template-rows: 25% 100px auto; */
}

.create-post {
  /* grid-column-start: 1; */
  /* grid-row-start: 1; */
}

.project-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  animation-name: slideInUp;
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  animation-name: slideInDown;
}