

:global(.DraftEditor-root) {
  width: 100%;
  font-size: 16px;
  color: #1a202c;

  h1:before,
  h2:before,
  h3:before,
  h4:before {
    position: absolute;
    color: #999;
    left: 0px;
  }

  h1:before {
    content: "#";
  }

  h2:before {
    content: "##";
  }

  h3:before {
    content: "###"
  }

  h4:before {
    content: "####"
  }

  h1 {
    margin: 0px 0px 20px 30px;
  }

  h2 {
    margin: 0px 0px 20px 42px;
  }

  h3 {
    margin: 0px 0px 20px 48px;
  }

  h4 {
    margin: 0px 0px 20px 50px;
  }

  ul li.public-DraftStyleDefault-depth0 {
    margin-left: 18px;
  }
    
  ul li.public-DraftStyleDefault-depth1 {
    margin-left: 36px;
  }

  pre {
    margin: 0 0 1em 0;
    padding: 12px;
  }

  blockquote {
    padding: 16px;
    background-color: #fafafa;
    border-left: 1px solid #f5f5f5;
    margin-left: 20px;
  }

  figure, img {
    margin: 0;
  }
  
  img {
    max-width: 100%;
    margin: 10px auto;
  }

  code > .public-DraftStyleDefault-block {
    padding-bottom: 0;
  }
}

:global(.public-DraftEditor-content > div > div) {
  margin: 0;
  margin-bottom: 10px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

:global(.DraftEditor-editorContainer figure) {
  margin: 0px 0px 12px 0px;
  padding: 0;
  max-width: 660px;
}

:global(.DraftEditor-editorContainer blockquote) {
  background-color: #fff;
  padding: 12px;
}

:global(.cke-code-container) {
	color: #1a202c !important;
	font-family: Roboto Mono, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
	font-variant: no-common-ligatures no-discretionary-ligatures no-historical-ligatures no-contextual;
	font-size: 14px;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	border-radius: 8px;
	width: 100%;
	overflow: auto;
  background-color: #f6f8fa;

  & > pre {
    padding: 0;
    margin: 0;
  }

  :global(.public-DraftStyleDefault-block.public-DraftStyleDefault-ltr) {
    margin-bottom: 0;
  }
}

:global(.unfocused iframe) {
  pointer-events: none;
}

:global(.unfocused:hover) {
  cursor: default;
  border-radius: 2px;
  box-shadow: 0 0 0 3px #D2E3F7;
}

:global(.focused) {
  cursor: default;
  border-radius: 2px;
  box-shadow: 0 0 0 3px #ACCEF7;
}

:global(.focused iframe) {
  pointer-events: auto;
}