.modal {
  &:focus {
    outline: none
  }
  
  :global(.ant-modal-content .ant-modal-footer) {
    text-align: left;
  }
}


.actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
}