@import '../../css/theme.scss';

.root {
  display: flex;
  .button {
    color: $icon-color;
    all: unset;
    margin-right: 20px;

    &.active {
      color: $icon-color-active;
  
      &:hover {
        color: $icon-color-hover;
        cursor: pointer;
      }
    }
  }
}
